<div class="container">
    <h1>estamos en la pagina principal</h1>
</div>

<<<<<<< HEAD
    <section class="hero">
        <!-- Aquí puedes incluir un banner promocional, imágenes de productos destacados, etc. -->
        <h1>Bienvenido a nuestra tienda deportiva</h1>
        <p>Descubre una amplia selección de productos deportivos de alta calidad.</p>
        <!-- Puedes añadir más contenido aquí -->
    </section>

    <section class="featured-products">
        <!-- Aquí puedes mostrar productos destacados, ofertas especiales, etc. -->
        <h2>Productos Destacados</h2>
        <!-- Puedes utilizar iteración para mostrar una lista de productos -->
        <div class="product">
            <img src="producto1.jpg" alt="Producto 1">
            <h3>Nombre del Producto 1</h3>
            <p>Descripción del Producto 1</p>
            <button>Comprar</button>
        </div>
        <!-- Puedes agregar más productos aquí -->
    </section>
=======
<a href="/">inicio</a>
<a href="/login">login</a>
<a href="/registro">Registro</a>

<nav>
      <ul>
        <li><a href="#">Hombre</a></li>
        <li><a href="#">Mujer</a></li>
        <li><a href="#">Niños</a></li>
        <li><a href="#">Marcas</a></li>
      </ul>
</nav>

<main>
    <div class="banner">
      <!-- Aquí colocarías el código para el banner, como imágenes, texto, etc. -->
      <img src="banner.jpg" alt="Banner">
    </div>

    <div class="container">
      <h2>Iniciar sesión</h2>
      <form action="/login" method="post">
        <!-- Aquí iría el formulario de inicio de sesión -->
      </form>
      <p>¿No tienes una cuenta? <a href="/registro">Crear cuenta</a></p>
    </div>
  </main>
>>>>>>> f24c4bf3033b368c50b80d8badea8822bcc11d13
