{{>header}}

<script src="https://www.gstatic.com/firebasejs/9.6.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.6.1/firebase-storage.js"></script>
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">¡Bienvenido a Deportivos W!</h1>
        <p class="lead">Encuentra todo lo que necesitas para tu deporte favorito.</p>
        <a href="/productos" class="btn btn-primary btn-lg">Explorar productos</a>
    </div>

    

    

        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <img src="img/fondo.jpg" class="img-fluid" alt="Imagen de fondo">
                </div>
            </div>
        
        </div>
</div>

{{>footer}}
