<div class="container">
    <h1>estamos en la pagina principal</h1>
    {{#if  data.cliente.nombre }}
    <h1>Bienvenido {{data.cliente.nombre}}</h1>
    {{/if}}
</div>

<nav>
      <ul>
        <li><a href="#">Hombre</a></li>
        <li><a href="#">Mujer</a></li>
        <li><a href="#">Niños</a></li>
        <li><a href="#">Marcas</a></li>
      </ul>
</nav>

<main>
    <div class="banner">
      <!-- Aquí colocarías el código para el banner, como imágenes, texto, etc. -->
      <img src="" alt="Banner">
    </div>
    {{#if data.noLogged }}
    <div class="container">
      <h2>Iniciar sesión</h2>
      <form action="/login" method="post">        
      </form>
      <p>¿No tienes una cuenta? <a href="/registro">Crear cuenta</a></p>
    </div>
    {{/if}}
  </main>
