<div class="container">
    <h1>estamos en la pagina principal</h1>
</div>

    <section class="hero">
        <!-- Aquí puedes incluir un banner promocional, imágenes de productos destacados, etc. -->
        <h1>Bienvenido a nuestra tienda deportiva</h1>
        <p>Descubre una amplia selección de productos deportivos de alta calidad.</p>
        <!-- Puedes añadir más contenido aquí -->
    </section>

    <section class="featured-products">
        <!-- Aquí puedes mostrar productos destacados, ofertas especiales, etc. -->
        <h2>Productos Destacados</h2>
        <!-- Puedes utilizar iteración para mostrar una lista de productos -->
        <div class="product">
            <img src="producto1.jpg" alt="Producto 1">
            <h3>Nombre del Producto 1</h3>
            <p>Descripción del Producto 1</p>
            <button>Comprar</button>
        </div>
        <!-- Puedes agregar más productos aquí -->
    </section>
