<div class="container">
    <h1>estamos en la pagina principal</h1>
</div>

<a href="/">inicio</a>
<a href="/login">login</a>
<a href="/registro">Registro</a>

<nav>
      <ul>
        <li><a href="#">Hombre</a></li>
        <li><a href="#">Mujer</a></li>
        <li><a href="#">Niños</a></li>
        <li><a href="#">Marcas</a></li>
      </ul>
</nav>

<main>
    <div class="banner">
      <!-- Aquí colocarías el código para el banner, como imágenes, texto, etc. -->
      <img src="banner.jpg" alt="Banner">
    </div>

    <div class="container">
      <h2>Iniciar sesión</h2>
      <form action="/login" method="post">
        <!-- Aquí iría el formulario de inicio de sesión -->
      </form>
      <p>¿No tienes una cuenta? <a href="/registro">Crear cuenta</a></p>
    </div>
  </main>