{{>header}}

<!DOCTYPE html>
<html lang="en">
<head>         
    <meta charset="utf-8"> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/css/styles.css"> 
    <style type="text/css">
        .animation1 {
            -webkit-transition-duration: 500ms !important;
            -moz-transition-duration: 500ms !important;
            -o-transition-duration: 500ms !important;
            transition-duration: 500ms !important;
        }
    </style>    
  
</head>

<body>
    <div class="container">
        <h1>Catálogo de Productos Deportivos</h1>
        <div class="row">
            <!-- Sección para Hombres -->
            <div class="col-md-6">
                <h2>Productos para Hombre</h2>
                <ul class="list-group">
                    <li class="list-group-item">Camiseta deportiva Hombre</li>
                    <li class="list-group-item">Pantalón deportivo Hombre</li>
                    <li class="list-group-item">Tenis de running Hombre</li>
                    <a href="/productoshom" class="btn btn-primary btn-lg">Explorar productos Hombres</a><br>
                </ul>
            </div>
            <!-- Sección para Mujeres -->
            <div class="col-md-6">
                <h2>Productos para Mujer</h2>
                <ul class="list-group">
                    <li class="list-group-item">Camiseta deportiva mujer</li>
                    <li class="list-group-item">Pantalón deportivo mujer</li>
                    <li class="list-group-item">Tenis de running mujer</li>
                    <a href="/productosmujer" class="btn btn-primary btn-lg">Explorar productos Mujeres</a>
                </ul>
            </div>
            <!-- Sección para Niños -->
            <div class="col-md-6">
                <h2>Productos para Niño</h2>
                <ul class="list-group">
                    <li class="list-group-item">Camiseta deportiva Niño</li>
                    <li class="list-group-item">Pantalón deportivo Niño</li>
                    <li class="list-group-item">Tenis de running Niño</li>
                    <a href="/productosnino" class="btn btn-primary btn-lg">Explorar productos Niño</a>
                </ul>
            </div>
        </div>
    </div>
    <!-- Incluir Bootstrap JS (opcional, solo si necesitas funcionalidad de Bootstrap) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
</body>
</html>
{{>footer}}