<img src="ssd" alt="">
<a href="/">Principal</a>
<div class="jumbotron jumbotron-fluid bg-dark text-white text-center">
    <div class="container">
        <h1 class="display-4">¡Bienvenido a Deportivos W!</h1>
        <p class="lead">Encuentra todo lo que necesitas para tu deporte favorito.</p>
        <a href="/productoshom" class="btn btn-primary btn-lg">Explorar productos</a>
        
    </div>
</div>