<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{pageTitle}} - Deportivos W</title>

    <br>
    <br>
    <!-- Incluir Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/css/styles.css">
   

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="/">Deportivos W</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                
                <li class="nav-item dropdown">
                
                <a class="nav-link dropdown-toggle" href="#" id="Hombres" role="button" 
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Hombres
                </a>
                    <div class="dropdown-menu" aria-labelledby="Hombres">
                        <a class="dropdown-item" href="/productoshom">Ropa Hombre</a>
                    </div>
                </li>
                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="Mujeres" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Mujeres
                    </a>
                    <div class="dropdown-menu" aria-labelledby="Mujeres">
                        <a class="dropdown-item" href="/productosmujer">Ropa Mujer</a>
                    </div>
                </li>
                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="Niños" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Niños
                    </a>
                    <div class="dropdown-menu" aria-labelledby="Niños">
                        <a class="dropdown-item" href="/productosnino">Ropa niños</a>
                    </div>
                </li>
                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="Marcas" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Categorias
                    </a>
                    <div class="dropdown-menu" aria-labelledby="Categorias">
                        <ul class="list-unstyled mb-0">
                            <a class="dropdown-item" href="/productos">Ropa</a>
                           
                            
                        </ul>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="Niños" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Usuarios
                    </a>
                    <div class="dropdown-menu" aria-labelledby="Niños">
                        <a class="dropdown-item" href="/listarc">Listar Usuarios</a>

                    </div>
                </li>
                
                
                
                <li class="nav-item">
                    <a class="nav-link" href="/carrito">
                    <i class="fas fa-shopping-cart"></i> SALE
                             
                    </a>
                </li>
                {{>menu }}
            </ul>
        </div>
    </nav>


    <div class="container">