<a href="/">inicio</a>
{{#if  data.noLogged }}
<a href="/login">ingresar</a>
{{/if}}
{{#if  data.isLogged }}
<a href="/logout">salir</a>
{{/if}}
<a href="/registro">Registro</a>
<a href="/listarc">Clientes</a>