<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="css/styles.css">
    <a href="/listarc">Clientes</a>
  </head>
  <body>
    {{>menu}}
    <div class="container">
       {{{body}}}
    </div>
  <footer>
    <script src="js/bootstrap.js"></script>
  </footer>
</html>